/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";


$dark: #2B1C59;
$light: #778899;
$brownie: #998877;
$spear: #98ffcc;


::-webkit-input-placeholder {
    color: black;
  }

.logo {
  display: inline-block;
  color: white;
  letter-spacing: 20px;
}
.dark {
  background-color: $dark;
}

a {
  color: $dark;
  &:hover {
    opacity: .9;
    background-color: transparent;
    color: $dark;
    text-decoration: none;
  }
}
header  {
  color: white;
  a {
    color: white;
    &:hover {
      color: white;
      opacity: .9;
    }
    &:visited {
      color: white;
    }
  }
  ul#store-nav {
    display: inline-block;
    padding: 0;
    li {
      display: inline-block;
      padding: 0 15px;
    }
  }
  ul#user-nav {
    display: inline-block;
    padding: 0;
    float: right;
    li {
      display: inline-block;
      padding: 0 15px;
    }
  }
 }

.btn {
 border: 2px solid $dark;
 border-radius: 0;
 background-color: white;
 text-transform: uppercase;
 color: $dark;
 display: inline-block;
 transition: .5s;
 &:hover {
   background-color: lighten($dark, 10%);
   color: white;
 }
}

input.my-form {
  border: none;
  border-bottom: 2px solid $dark;
  border-radius: 0;
  outline: 0;
  box-shadow: 0;
  background: transparent;
  width: 80%;

  transition: 1s;
  &:focus {
    outline: none;
    width: 100%;
  }
}
.alert{
  background-color: $light;
  position: absolute;
  top: 100px;
  right:  100px;
  border: 2px solid $dark;
  z-index: 1000;
  height: 100px;
  width: 300px;
}
.alert-flash{
    color: darkgreen;
}
.alert-alert{
    color: darkred;
}
.product-pane {
  border: 1px solid $dark;
  border-radius: 10%;
}


.product-drop {
  display: none;
  background-color: $light;
  color: $dark;
  ul#product-cat {
    margin-top: 10px;
    display: inline-block;
    padding: 0;
    li {
      display: inline-block;
      padding: 0 15px;
      a {
        color: $dark;
        font-weight: bold;
        &:hover {
          color: white;


        }
      }
    }
  }
}

#product-sort {
  margin: 25px 0;
  display: inline-block;
  padding: 0;
  li {
    display: inline-block;
    padding: 0 15px;
    a {
      color: $dark;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      &:hover {
        color: $light;
      }
    }
  }
}
.back-row {
  margin-top:25px;
  a {
    font-weight: bold;
    color: darken($dark, 10%);
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid darken($dark, 10%);

  }
}
.product-det-row {
  margin-top: 100px;
  .product-detail-img {
    img {
      width: auto;
      height: 100%;
    }
  }
  .product-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .info-wrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 50px auto;
      .price {
        letter-spacing: 1px;
        font-weight: bold;
        color: darken($spear, 20%);
        margin: 10px 0;
      }
      .brand {
        margin: 10px 0;
        color: $dark;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 15px;
      }
      .purchase {
        margin: 10px 0;
      }
    }
  }
}
