/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";


$dark: #2B1C59;
$light: #778899;
$brownie: #998877;
$spear: #98ffcc;
$spearo: rgba(152,255,204,.8);
$maroon5: rgba(128,0,0,.8);


::-webkit-input-placeholder {
    color: black;
  }

.logo {
  display: block;
  letter-spacing: 20px;
  a {
    color: white;
    transition: 1s;
    &:hover {
      color: $spear;
      text-decoration: none;
    }
  }
}
.dark {
  background-color: $dark;
}

a {
  color: $dark;
  transition: 1s;
  &:hover {
    background-color: transparent;
    color: $spear;
    text-decoration: none;
  }
}
.main-content {
  margin-top: 100px;
}

.nav-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000000;
}
header  {
  color: white;
  a {
    color: white;
    &:hover {
      color: $spear !important;
    }
    &:visited {
      color: white;
    }
  }
  ul#store-nav {
    margin: 0;
    display: inline-block;
    padding: 0;
    top: 65px;

    li {
      margin-bottom: 10px;
      display: inline-block;
      padding: 0 15px;

      &:first-child {
        padding-left: 0;
      }

    }
  }
  ul#user-nav {
    margin: 0;
    display: inline-block;
    padding: 0;
    position: absolute;
    top: 70px;
    right: 0;
    li {
      display: inline-block;
      padding: 0 15px;
    }
  }
 }

.btn {
 border: 2px solid $dark;
 border-radius: 0;
 background-color: white;
 text-transform: uppercase;
 color: $dark;
 display: inline-block;
 transition: .5s;
 &:hover {
   background-color: lighten($dark, 10%);
   color: white;
 }
}

input.my-form {
  border: none;
  border-bottom: 2px solid $dark;
  border-radius: 0;
  outline: 0;
  box-shadow: 0;
  background: transparent;
  width: 80%;

  transition: 1s;
  &:focus {
    outline: none;
    width: 100%;
  }
}
.alert{
  background-color: $spearo;
  position: absolute;
  top: 100px;
  right:  100px;
  border: 2px solid $dark;
  z-index: 10000000000000;
  height: contain;
  width: 300px;
  animation-name: slider;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  padding: 25px;
  .message {
    margin-top: 25px;
    font-weight: bold;
  }
  .x {
    height: 15px;
    display: block;
    float: right;
    &:hover {
      cursor: pointer;
    }
  }
}
.alert-flash{
  color: $dark;
}
.alert-alert{

  background-color: $maroon5;
  color: white;
}

.product-list-row {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-pane {
  padding: 0;
  padding: 25px 25px;
  .prod-title {
    margin-top: 10px;
    border-top: 5px solid darken($spear, 20%);
    padding-top: 5px;
    text-align: center;
    h4  {
      display: inline-block;
      color: $dark;
      &:first-child {
        padding-right: 20px;
      }
      &:nth-child(2) {
        border: 2.5px solid $dark;
        padding: 10px;
      }
    }
    a {
      color: $dark;
      text-transform: uppercase;
    }
  }
}


.product-drop {
  position: absolute;
  width: 100%;
  z-index: 500;
  display: none;
  background-color: $light;
  color: $dark;
  ul#product-cat {
    margin-top: 10px;
    margin-left: 0;
    display: inline-block;
    padding: 0;
    li {
      display: inline-block;
      padding: 0 15px;
      a {
        color: $dark;
        font-weight: bold;
        &:hover {
          color: white;


        }
      }
    }
  }
}

#product-sort {
  margin: 50px 0;
  display: inline-block;
  padding: 0;
  li {
    display: inline-block;
    padding: 0 15px;
    a {
      color: $dark;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      &:hover {
        color: $light;
      }
    }
  }
}
.back-row {
  margin-top:25px;
  a {
    font-weight: bold;
    color: darken($dark, 10%);
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid darken($dark, 10%);

  }
}
.product-det-row {
  margin-top: 100px;
  .product-detail-img {
    img {
      width: auto;
      height: 100%;
    }
  }
  .product-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .info-wrap{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 50px auto;
      .price {
        letter-spacing: 1px;
        font-weight: bold;
        color: darken($spear, 20%);
        margin: 10px 0;
      }
      .brand {
        margin: 10px 0;
        color: $dark;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 15px;
      }
      .purchase {
        margin: 10px 0;
      }
    }
  }
}

.no-padding {
  padding: 0;
}

@keyframes slider {
  0% {
   transform: translateX(+100%)
 }
 100% {
   transform: translateX(0)
 }
}
